@import "tailwindcss";

@media print {

  /* Forzar a que el cuerpo y contenedor se alineen arriba */
  body,
  main,
  .printable-modal {
    display: block !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    min-height: 0 !important;
  }

  /* Ajuste para que el modal ocupe toda la hoja desde arriba */
  .printable-modal {
    position: relative !important;
    max-height: none !important;
    box-shadow: none !important;
    border: none !important;
  }
}